@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Ubuntu:wght@300&display=swap');

* {
	font-family: 'Ubuntu', sans-serif;
}
#login {
	border-radius: 20px;
	font-size: 12pt;
	font-weight: bold;
	/*color: #fdfdfd;*/
	background: #ebebebb1;
	border: none;
	/*background-color: #fdfdfd93;*/
	margin-left: 1280px;
	cursor: pointer;
}

body {
	background-image: url("/imagens/back1.png");
	background-repeat: no-repeat;
	background-size: 1800px;
	background-position: right 0px;
	background-position: center 0px;
}

h3 {
	/*font-family: 'M PLUS 1', sans-serif;*/
	font-family: 'Raleway', sans-serif;
	font-size: 30pt;
	color: #ffffff;
	
}

textarea:focus, input:focus {
	box-shadow: 0 0 0 0;
	outline: 0;
}
/*
input:focus {
	outline: none;
}
*/
.output-container {
	width: 900px;
	margin: 0 auto;
}

.comment-form-container {
	border: #e0dfdfa2 2px solid;
	padding: 40px;
	border-radius: 50px;
	/*border-style: groove;*/
	box-shadow: 4px 1px 4px #0808087a,
	-4px 1px 4px #0808087a;
	/*box-shadow: 4px 4px 4px 1px #080808;*/
	/*box-shadow: 20px #a7a7a7;*/
}

.input-row {
	margin-bottom: 20px;
	height: 60px;
	font-family: 'Ubuntu', sans-serif;
	font-size:1rem;
	outline: none;
}

.form-control{
	background-color: #e0dfdfa9;
	border-radius: 10px;
	border-style: groove;
	box-shadow: 4px 6px 4px #0808087a,
	-4px 6px 4px #0808087a;
}

.input-field {
	width: 100%;
	border-radius: 10px;
	padding: 10px;
	border: #e0dfdf 2px solid;
	background-color:#e0dfdfa9 ;
    box-sizing: border-box;
	height: 70px;
	font-size: 1rem;
	font-weight: bold;
	/*border-style: groove;*/
	box-shadow: 4px 8px 4px #0808087a,
	 -4px 8px 4px #0808087a;
	/*box-shadow: 1px 0.8em rgb(0, 0, 0), -1em 0 .8em rgb(0, 0, 0);*/
}

.btn-submit {
	margin: 0 auto;
	padding: 10px 20px;
    background: #2083f3;
    border: #137aea 1px solid;
    color: #f0f0f0;
    border-radius: 3px;
	/*font-family: 'Raleway', sans-serif;*/
	/*margin-left: 100px;*/
	transition: 5s;
	box-shadow: 4px 4px 4px #0808087a, -4px 4px 4px #0808087a;
}

.output-container ul {
	list-style-type: none;
}

.comment-row {
	border-bottom: #e0dfdf63 5px solid;
	margin-bottom: 15px;
	padding: 15px;
	border-radius: 20px;
}

.outer-comment {
	padding: 30px;
	border: #deddddb4 2px solid;
    border-radius: 40px;
	box-shadow: 2px 8px 4px #0808084a,
	-2px 8px 4px #0808084a;
	/*border-style: groove;*/
}

span.commet-row-label {
	font-style: italic;
}

span.posted-by {
	/*text-decoration: underline;*/
	/*font-family: 'Raleway', sans-serif;*/
	margin-left:13px;
	font-weight: bold;
}

.comment-info {
	font-size: 0.9em;
	color: #000000;
}

.comment-text {
	margin: 15px 0px;
	margin-left: 80px;
}

.btn-reply {
	font-size: 1rem;
	font-weight:bold;
    cursor: pointer;
	margin-left:90px;
	border-radius: 20px;
	box-shadow: #000000;
	background-color: #767a7e74;
	border-color: #007bff;
	/**** MESMO STYLE DO BUTTON INSERIR COMENTARIO
	-webkit-appearance: button;	*/
	
	-webkit-appearance: button;
	/****************************/
	
}	

/* STYLE BUTTON INSERIR COMENTARIO*/
/*
#btn1{
	border-radius: 20px;
}
*/

.btn btn-primary{	
	background:
	linear-gradient(to right, rgb(32, 64, 243), rgb(243, 32, 39), );
}

#comment-message {
	font-weight: bold;
	margin-left: 20px;
	color: #000078;
	display: none;
}

.icon-smile:before {
    content: " ";
    width: 16px;
    height: 16px;
    display: flex;
    background: url(1happy.png);
}

#output {
	gap: 1rem;
	width:890px;
	font-weight: bold;
	font-size: 1.2rem;
	height: 400px;
	overflow-y: scroll;
	overflow-style: blue;
	
	/*box-shadow:4px 4px 4px #e0dfdfa9;*/
}

#submitButton {
	margin: 0 auto;
}
#resposta {
	font-size: 1rem;
	font-weight: bold;
	margin-top: 5px;
	font-weight: 1rem;
	border-radius: 10px;
	width: 30rem;
	height: 3rem;
	margin-left: 5.1rem;
	background-color: #bec0c37c;
	border: none;
}